---
---
/* VARIABLES */
$large-font-size: 1.5rem;
$large-font-weight: 500;
$medium-font-size: 1.125rem;
$medium-font-weight: 400;
$small-font-size: 1.125rem;
$small-font-weight: 300;
$text-snippet-font-size: 0.875rem;
$text-snippet-font-weight: 300;
$text-snippet-text-color: #646464;
$text-snippet-background-color: #DCDCDC;
$code-font-size: 0.875rem;

$mobile-large-font-size-ratio: 0.66;
$mobile-medium-font-size-ratio: 0.75;
$mobile-small-font-size-ratio: 0.85;
$mobile-text-snippet-font-size-ratio: 0.85;
$mobile-icon-size-ratio: 0.66;

$min-page-height: 52rem;

$narrow-page-max-width: 52rem;
$nav-bar-compress-width: 85rem;
$mobile-page-width: 45rem;
$mobile-page-narrow-width: 30rem;

$nav-bar-padding: 1rem;
$nav-bar-icon-size: 4rem;

$background-tile-size: 40rem;

$standard-spacing: 1rem;
$standard-panel-width: 48.5%;

$line-divider-height: 3px;

$content-top-padding: 4rem;
$section-header-height: 4rem;
$section-header-image-max-width: 20rem;
$section-header-image-wide-max-width: 40rem;
$section-padding: 2rem;

$form-max-width: 32rem;
$class-element-list-max-width: 48rem;

$input-field-height: 2.5rem;
$input-field-padding: 0.5rem;
$input-field-border-thickness: 0.1875rem;
$input-field-border-color: black;
$input-field-text-color: black;
$input-field-placeholder-text-color: #939393;

$corner-radius: 0.5rem;

$button-height: 3rem;
$button-text-horizontal-padding: 2rem;
$button-background-color: black;
$button-text-color: white;
$button-hover-color: #333333;
$button-press-color: #686868;
$button-disabled-color: #AAAAAA;

$text-hover-brightness: 50%;

$class-element-field-height: 3rem;
$class-element-field-border-thickness: 0.1875rem;
$class-element-field-border-color: black;
$class-element-field-text-color: black;
$class-element-hover-background-color: #D0D0D0;
$class-element-press-background-color: #ADADAD;

$group-icon-size: 1.6rem;

$status-icon-size: 1rem;
$status-color-unstarted: #939393;
$status-color-started: #0085FF;
$status-color-completed: #00E517;
$status-color-expired: #FF0000;

$alert-icon-size: 2rem;
$alert-error-color: #FF0000;
$alert-warning-color: #FFB800;

$progress-bar-background-color: #D4D4D4;
$progress-bar-height: 1.25rem;
$progress-bar-corner-radius: $corner-radius;

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: $large-font-size;
  font-weight: $large-font-weight;
  margin: $standard-spacing / 2;
  text-align: center;
}

h2 {
  font-size: $medium-font-size;
  font-weight: $medium-font-weight;
  margin-bottom: $standard-spacing;
  text-align: center;
}

p {
  font-size: $small-font-size;
  font-weight: $small-font-weight;
  line-height: 1.5;
  margin-top: $standard-spacing;
  text-align: left;
}

/* Home page */
.home-page {
  .header-slideshow {
    background-color: black;
    .slide {
      display: none;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}
.title-graphic {
  width: 100%;
  height: auto;
}
/* SLIDES ANIMATION */
.slide {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.home-page > .narrow-page {
  padding-top: 0;
}

/* FIXED WIDTH PAGES */
.narrow-page {
  width:  90%;
  max-width: $narrow-page-max-width;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: $standard-spacing;

  img.hero {
    width: 100%;
    margin-bottom: 1rem;
  }
  .hero-video {
    width: 100%;
    position: relative;
  	padding-bottom: 56.25%; /* 16:9 */
  	padding-top: 25px;
  	height: 0;
    margin-bottom: 1rem;

    .hero-video-raw {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .mp4-video {
    width: 100%;
    margin-bottom: $standard-spacing;
  }
}

// MAKE THE PAGE FULL HEIGHT
html {
  height: 100%;
}
body {
  height: 100%;
}
.container {
  height: 100%;
}
.page-container{
  min-height: 100%;
  height: fit-content;
}

.content {
  margin-bottom: $standard-spacing;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .gallery-panel {
    width: $standard-panel-width;
    height: $standard-panel-width;
    margin-bottom: $standard-spacing;
    h2 {
      font-family: 'Bungee', cursive;
    }
    ul {
      margin-left: $standard-spacing * 1.5;
    }
    li {
      font-size: $small-font-size;
      font-weight: $small-font-weight;
      line-height: 1.5;
      text-align: left;
      list-style-type: disc;
    }
    ol {
      margin-left: $standard-spacing * 1.5;
    }
    ol li {
      list-style-type: decimal;
      font-weight: $small-font-weight;
    }
    .button-container {
      display: flex;
      .button {
        margin: $standard-spacing auto;
      }
    }
  }
}

/* TITLE BAR */
.nav-bar {
  font-family: 'Bungee', cursive;

  font-size: $large-font-size;
  font-weight: $large-font-weight;

  padding: $nav-bar-padding;

  background-color: #000;

  a {
    color: #FFF;
  }
  a:hover {
    filter: brightness($text-hover-brightness);
  }
}
.nav-bar-mobile {
  .hamburger {
    width: $large-font-size;
    height: $large-font-size;
  }
  .hamburger:hover {
    filter: brightness($text-hover-brightness);
  }
  .nav-bar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dropdown-carrot {
    width: $large-font-size / 2;
    height: $large-font-size / 2;
  }

  ul {
    li {
      padding-top: $nav-bar-padding;
      //padding-bottom: $nav-bar-padding / 2;
    }
  }
  // items should be right alligned
  .nav-bar-signup {
    direction: rtl;
  }
}
.nav-bar-desktop {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;

  padding-right: $nav-bar-padding;

  .nav-bar-general {
    list-style: none;

    flex-grow: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    li {
      margin-right: 1em;
    }
  }
  .nav-bar-accounts {
    list-style: none;

    flex-grow: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    li {
      margin-left: 1em;
    }
  }
}
.nav-bar-icon {
  width: $nav-bar-icon-size;
  height: $nav-bar-icon-size;
}

.page-container {
  display: flex;
  flex-direction: row;
}

/* WALLPAPER */
.wall-paper-right {
  background-position-x: left;
  background-position-y: top;
  flex-grow: 1;
  background-image: url("/assets/wallPaperTile.png");
  background-repeat: repeat;
  background-size: $background-tile-size;
}
.wall-paper-left {
  background-position-x: right;
  background-position-y: top;
  flex-grow: 1;
  background-image: url("/assets/wallPaperTile.png");
  background-repeat: repeat;
  background-size: $background-tile-size;
}

/* SECTION HEADERS */
.section-header {
  height: $section-header-height;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Bungee', cursive;

  font-size: $large-font-size;
  font-weight: $large-font-weight;
}
.inverted {
  background-color: #000;
  .section-title > a {
    color: white;
  }
}
.section-header-image {
  width: 75%;
  max-width: $section-header-image-max-width;
}
.section-header-image-wide {
  width: 100%;
  max-width: $section-header-image-wide-max-width;
}
/* SECTIONS */
.line-divider {
  background-color: white;
  width: 100%;
  height: $line-divider-height;
}
.section-divider {
  background-color: black;
  padding: $section-padding;
  .section-title {
    font-family: 'Bungee', cursive;
    color: white;
  }
}
.section {
  padding: 0 $section-padding $section-padding $section-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CONTACT */
.contact-pannel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: $standard-spacing;
  a {
    color: white;
    font-size: $medium-font-size;
    font-weight: $medium-font-weight;
    text-align: center;
    text-decoration: none;
  }
  img {
    width: $medium-font-size;
    height: $medium-font-size;
    margin-right: $standard-spacing / 2;
  }
}

/* FORMS */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* FORMS */
.form-list {
  // margin: 0 auto;
  max-width: $form-max-width;
  //width:  90%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  li {
    width: 100%;
  }
  .hidden-divider {
    width: $standard-spacing * 2;
  }
}

.form-date-range {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  .form-line {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
  }

  .form-line {
    input {
      font-size: $small-font-size;
      font-weight: $medium-font-weight;
    }
    label {
      margin-bottom: $standard-spacing / 2;
    }
  }
}

.hidden-divider {
  width: $standard-spacing;
  flex-grow: 0;
}

.form-line {
  input {
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      font-size: $medium-font-size;
      font-weight: $medium-font-weight;
      color: $input-field-placeholder-text-color;
      opacity: 1; /* Firefox */
    }
    -webkit-appearance: none;
    font-family : inherit;
    margin-bottom: $standard-spacing;
    width: 100%;
    padding: $input-field-padding;
    box-sizing: border-box;
    height: $input-field-height;
    border-width: $input-field-border-thickness;
    border-radius: $corner-radius;
    font-size: $small-font-size;
    color: $input-field-text-color;
    border-color: $input-field-border-color;
    border-style: solid;
  }
}

.form-file-line {
    label {
        display: flex;
        -webkit-appearance: none;
        font-family : inherit;
        margin-bottom: $standard-spacing;
        width: 100%;
        padding: $input-field-padding;
        box-sizing: border-box;
        height: $input-field-height;
        border-width: $input-field-border-thickness;
        border-radius: $corner-radius;
        font-size: $small-font-size;
        color: $input-field-placeholder-text-color;
        border-color: $input-field-border-color;
        border-style: solid;
        overflow: hidden;
        white-space: nowrap;

        i {
            flex-grow: 1;
            text-align: right;
            display: block;
            color: $input-field-text-color;
            transform: translateY(-15%);
        }
    }
}

.button {
  -webkit-appearance: none;
  height: $button-height;
  align-self: center;
  padding: 0px $button-text-horizontal-padding;
  margin-bottom: $standard-spacing;
  border-radius: $corner-radius;
  border-style: none;
  background-color: $button-background-color;
  color: $button-text-color;
  font-size: $large-font-size;
  text-align: center;
  //font-family: 'Bungee', cursive;
  font-family: inherit;
}

.button:hover {
  background-color: $button-hover-color;
}
.button:active {
  background-color: $button-press-color;
}
.button:disabled {
  background-color: $button-disabled-color;
}

/* WHERE TO PLAY LIST */
.where-to-play-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  li {
    margin: $standard-spacing / 2 0;

    input {
      margin-bottom: 0;
    }
  }

  .where-to-play-list-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.forgot-password-link {
  text-decoration: none;
  color: black;
  padding-top: $standard-spacing * 2;
}

/* CLASS LIST ELEMENTS */
.class-element-list {
  width: 100%;
  max-width: $class-element-list-max-width;
  li:hover {
    background-color: $class-element-hover-background-color;
  }
  li:active {
    background-color: $class-element-press-background-color;
  }
  li {
    margin-bottom: $standard-spacing;
    padding: 0 $standard-spacing / 2;
    height: $class-element-field-height;
    border-width: $class-element-field-border-thickness;
    border-radius: $corner-radius;
    font-size: $small-font-size;
    color: $class-element-field-text-color;
    border-color: $class-element-field-border-color;
    border-style: solid;

    .class-element-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      height: 100%;
    }
  }
}

.student-count {
  display: flex;
  align-items: center;
  margin-left: $standard-spacing;
  margin-right: $standard-spacing;

  .student-count-text {
    margin: 0;
  }
  img {
    height: $group-icon-size;
    width: $group-icon-size;
  }
}

.class-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  .class-date-range {
    font-size: $large-font-size;
    font-weight: $large-font-weight;
  }

  .class-details {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
}

.class-element-title {
  flex-grow: 0;
  h1 {
    text-align: left;
  }
}

.status-icon {
  height: $status-icon-size;
  width: $status-icon-size;
}

.class-status {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  h1 {
    margin: $standard-spacing / 2;
  }
  .status-message-unstarted {
    color: $status-color-unstarted;
  }
  .status-message-started {
    color: $status-color-started;
  }
  .status-message-completed {
    color: $status-color-completed;
  }
  .status-message-expired {
    color: $status-color-expired;
  }
}

/* CREATE CLASS FORMAT */
.create-class-div {
    p {
      margin-top: 0;
      margin-bottom: $standard-spacing;
    }

    li {
      font-size: $small-font-size;
      font-weight: $small-font-weight;
      text-align: left;
      list-style-type: disc;
      line-height: 1.5;
    }

    ol {
      margin-left: $standard-spacing * 1.5;
      margin-bottom: $standard-spacing;
    }
    ol li {
      list-style-type: decimal;
      margin-top: 0;
      margin-bottom: 0;
    }
    ul {
      margin-left: $standard-spacing * 2;
    }
    ul li {
      list-style-type: circle;
      font-weight: $small-font-weight;
    }
}

.create-class-form-helper {
    h2 {
        margin-bottom: $standard-spacing / 2;
    }
}

/* ALERTS */
.alert-message {
  // padding: $standard-spacing;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  .alert-error-message {
    color: $alert-error-color;
  }
  .alert-warning-message {
    color: $alert-warning-color;
  }

  h2 {
    margin: 0;
    padding: $standard-spacing / 2;
  }

  img {
    width: $alert-icon-size;
    height: $alert-icon-size;
  }
}

/* PROGRESS BAR */
.class-progress-bar {
  padding: $standard-spacing 0 $standard-spacing * 4 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  width: 100%;

  .progress-bar-background {
    width: 100%;
    height: $progress-bar-height;
    border-radius: $progress-bar-corner-radius;

    background-color: $progress-bar-background-color;

    .progress-bar-fill {
      background-color: green;
      width: 33%;
      height: 100%;
      border-radius: $progress-bar-corner-radius;
    }
  }

  .progress-bar-percentage {
    margin: 0 0 0 $standard-spacing;
  }
}


/* TEXT SNIPPETS */
.text-snippet-box {
  border-radius: $corner-radius;
  border-style: none;
  background-color: $text-snippet-background-color;
  padding: 1px $standard-spacing $standard-spacing $standard-spacing;
  margin-bottom: $standard-spacing;

  body {
    color: $text-snippet-text-color;
  }
  p {
    font-size: $text-snippet-font-size;
    font-weight: $text-snippet-font-weight;
  }
}

// Loading
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $standard-spacing;
  .loading-icon {
    width: $large-font-size * 3;
    height: $large-font-size * 3;
    //margin-right: $standard-spacing / 2;
    animation: spin 3s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}

/* Responsive */
@media only screen and (max-width: $nav-bar-compress-width) {
  .nav-bar-desktop {
    flex-direction: column;
    padding: $nav-bar-padding;

    .nav-bar-icon {
      width: $nav-bar-icon-size / 2;
      height: $nav-bar-icon-size / 2;
    }

    .nav-bar-general {
      justify-content: center;
      margin-bottom: $standard-spacing;
    }
    .nav-bar-accounts {
      justify-content: center;
    }
  }
}

@media only screen and (max-width: $narrow-page-max-width) {
  .section {
    padding: 0 $standard-spacing $standard-spacing $standard-spacing;
  }
  .narrow-page {
    max-width: none;
    width: 100%;
  }
}
@media only screen and (min-width: $mobile-page-width) {
  .nav-bar-mobile {
    display: none;
  }
}
@media only screen and (max-width: $mobile-page-width) {
    .selector > a {
      width: 100%;
    }
    .gallery {
      flex-direction: column;
      align-items: center;
      .gallery-panel {
        width: 100%;
      }
    }
    .section-divider {
      padding: $standard-spacing;
    }
    .about-section > .about-pannel {
      width: 100%;
    }

    .where-to-play-list > li > .where-to-play-list-mobile {
      flex-direction: column;
      .hidden-divider {
        height: 0;
        margin: 0;
      }
    }

    h1 {
      font-size: $mobile-large-font-size-ratio * $large-font-size;
    }
    h2 {
      font-size: $mobile-medium-font-size-ratio * $medium-font-size;
    }
    p {
      font-size: $mobile-small-font-size-ratio * $small-font-size;
    }
    .gallery > .gallery-panel > ul > li {
      font-size: $mobile-small-font-size-ratio * $small-font-size;
    }
    .gallery > .gallery-panel > ol > li {
      font-size: $mobile-small-font-size-ratio * $small-font-size;
    }
    .nav-bar {
      font-size: $mobile-large-font-size-ratio * $large-font-size;
      .nav-bar-desktop {
        display: none;
      }
    }
    .section-header {
      font-size: $mobile-large-font-size-ratio * $large-font-size;
    }
    .class-info > .class-date-range {
      font-size: $mobile-large-font-size-ratio * $large-font-size;
    }
    .text-snippet-box > p {
      font-size: $mobile-text-snippet-font-size-ratio * $text-snippet-font-size;
    }
    .form-line > ::placeholder {
      font-size: $mobile-medium-font-size-ratio * $medium-font-size;
    }
    .form-file-line > label {
      padding-top: 11px;
      font-size: $mobile-medium-font-size-ratio * $medium-font-size;
    }
    .form-file-line > label > i {
      transform: translateY(-30%);
    }
    .button {
      font-size: $mobile-large-font-size-ratio * $large-font-size;
    }
    .class-info > li > .class-details {
      .class-date-range {
        font-size: $mobile-large-font-size-ratio * $large-font-size;
      }
    }
    .student-count > img {
      height: $mobile-icon-size-ratio * $group-icon-size;
      width: $mobile-icon-size-ratio * $group-icon-size;
    }
    .status-icon {
      height: $mobile-icon-size-ratio * $status-icon-size;
      width: $mobile-icon-size-ratio * $status-icon-size;
    }
    .form-date-range > .form-line {
        input {
          font-size: $mobile-small-font-size-ratio * $small-font-size;
        }
        label {
          font-size: $mobile-small-font-size-ratio * $small-font-size;
        }
    }
    .create-class-div > ol > li {
        font-size: $mobile-small-font-size-ratio * $small-font-size;
    }
}
@media only screen and (max-width: $mobile-page-narrow-width) {
  .form-date-range {
    flex-direction: column;
  }
}

/* CODE SNIPPETS */
.highlight .hll { background-color: #404040 }
.highlight  { background: #202020; color: #d0d0d0 }
.highlight .c { color: #999999; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .esc { color: #d0d0d0 } /* Escape */
.highlight .g { color: #d0d0d0 } /* Generic */
.highlight .k { color: #6ab825; font-weight: bold } /* Keyword */
.highlight .l { color: #d0d0d0 } /* Literal */
.highlight .n { color: #d0d0d0 } /* Name */
.highlight .o { color: #d0d0d0 } /* Operator */
.highlight .x { color: #d0d0d0 } /* Other */
.highlight .p { color: #d0d0d0 } /* Punctuation */
.highlight .ch { color: #999999; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #999999; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #cd2828; font-weight: bold } /* Comment.Preproc */
.highlight .cpf { color: #999999; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #999999; font-style: italic } /* Comment.Single */
.highlight .cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
.highlight .gd { color: #d22323 } /* Generic.Deleted */
.highlight .ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #d22323 } /* Generic.Error */
.highlight .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #589819 } /* Generic.Inserted */
.highlight .go { color: #cccccc } /* Generic.Output */
.highlight .gp { color: #aaaaaa } /* Generic.Prompt */
.highlight .gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
.highlight .gt { color: #d22323 } /* Generic.Traceback */
.highlight .kc { color: #6ab825; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #6ab825; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #6ab825; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #6ab825 } /* Keyword.Pseudo */
.highlight .kr { color: #6ab825; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #6ab825; font-weight: bold } /* Keyword.Type */
.highlight .ld { color: #d0d0d0 } /* Literal.Date */
.highlight .m { color: #3677a9 } /* Literal.Number */
.highlight .s { color: #ed9d13 } /* Literal.String */
.highlight .na { color: #bbbbbb } /* Name.Attribute */
.highlight .nb { color: #24909d } /* Name.Builtin */
.highlight .nc { color: #447fcf; text-decoration: underline } /* Name.Class */
.highlight .no { color: #40ffff } /* Name.Constant */
.highlight .nd { color: #ffa500 } /* Name.Decorator */
.highlight .ni { color: #d0d0d0 } /* Name.Entity */
.highlight .ne { color: #bbbbbb } /* Name.Exception */
.highlight .nf { color: #447fcf } /* Name.Function */
.highlight .nl { color: #d0d0d0 } /* Name.Label */
.highlight .nn { color: #447fcf; text-decoration: underline } /* Name.Namespace */
.highlight .nx { color: #d0d0d0 } /* Name.Other */
.highlight .py { color: #d0d0d0 } /* Name.Property */
.highlight .nt { color: #6ab825; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #40ffff } /* Name.Variable */
.highlight .ow { color: #6ab825; font-weight: bold } /* Operator.Word */
.highlight .w { color: #666666 } /* Text.Whitespace */
.highlight .mb { color: #3677a9 } /* Literal.Number.Bin */
.highlight .mf { color: #3677a9 } /* Literal.Number.Float */
.highlight .mh { color: #3677a9 } /* Literal.Number.Hex */
.highlight .mi { color: #3677a9 } /* Literal.Number.Integer */
.highlight .mo { color: #3677a9 } /* Literal.Number.Oct */
.highlight .sa { color: #ed9d13 } /* Literal.String.Affix */
.highlight .sb { color: #ed9d13 } /* Literal.String.Backtick */
.highlight .sc { color: #ed9d13 } /* Literal.String.Char */
.highlight .dl { color: #ed9d13 } /* Literal.String.Delimiter */
.highlight .sd { color: #ed9d13 } /* Literal.String.Doc */
.highlight .s2 { color: #ed9d13 } /* Literal.String.Double */
.highlight .se { color: #ed9d13 } /* Literal.String.Escape */
.highlight .sh { color: #ed9d13 } /* Literal.String.Heredoc */
.highlight .si { color: #ed9d13 } /* Literal.String.Interpol */
.highlight .sx { color: #ffa500 } /* Literal.String.Other */
.highlight .sr { color: #ed9d13 } /* Literal.String.Regex */
.highlight .s1 { color: #ed9d13 } /* Literal.String.Single */
.highlight .ss { color: #ed9d13 } /* Literal.String.Symbol */
.highlight .bp { color: #24909d } /* Name.Builtin.Pseudo */
.highlight .fm { color: #447fcf } /* Name.Function.Magic */
.highlight .vc { color: #40ffff } /* Name.Variable.Class */
.highlight .vg { color: #40ffff } /* Name.Variable.Global */
.highlight .vi { color: #40ffff } /* Name.Variable.Instance */
.highlight .vm { color: #40ffff } /* Name.Variable.Magic */
.highlight .il { color: #3677a9 } /* Literal.Number.Integer.Long */

.highlight table td.gutter {
  padding: 0 5px 0 0;
  color: #555;
  border-right: 1px solid #555;
}

.highlight table td.code {
  padding: 0 0 0 7px;
}

.highlight table pre { margin: 0; }

.highlight {
  margin-bottom: $standard-spacing;

  > pre {
    padding: 1rem;
  }

  pre, code {
    font: $code-font-size Menlo, Monaco, Consolas, 'Roboto Mono', monospace;
    pre { overflow: hidden; }   // prevent block inside scrollable code block from also being scrollable
  }
}
