<div class="page-container">
	<div class="wall-paper-left">
	</div>
	<div class="narrow-page">
		<div class="section">
			<!-- <div class="section-header" id="about">About</div> -->
			{% include youtube.html id="k-oxkqfn8Fg" %}
			<div class="gallery">
				<img class="gallery-panel" src="/assets/about/waterCoolerIntro.png">
				<div class="gallery-panel">
					{% capture my_include %}{% include about-panel-0.md %}{% endcapture %}
					{{ my_include | markdownify }}
				</div>
				<div class="gallery-panel">
					{% capture my_include %}{% include about-panel-1.md %}{% endcapture %}
					{{ my_include | markdownify }}
					<div class="button-container">
						{% include button.html id="setup_start" label="Get Started" function="profSetupStart"%}
					</div>
				</div>
				<img class="gallery-panel" src="/assets/about/waterCoolerEnd.jpeg">
			</div>
			{% capture my_include %}{% include about-footer.md %}{% endcapture %}
			{{ my_include | markdownify }}
		</div>
	</div>
	<div class="wall-paper-right">
	</div>
</div>


<script>
	function profSetupStart() {
		if (loginManager.isProfessor()) {
			goToPageSafe("/manageclasses");
		} else if (loginManager.isStudent()) {
			goToPageSafe("/howtoplay");
		} else {
			goToPageSafe("/professorsignup");
		}
	}
</script>
