<div class="prof_logged_in">
	<div class="section-header">Create New Class</div>
	<form id="create_class_form">
		<ul class="form-list">
			{% include form-line.html formName="create_class" inputID="name" inputType="text" placeholder="Class Name (visible to students)" %}
			<li>
				<ul class="form-date-range">
					{% include form-date-line.html formName="create_class" inputID="start_date" %}
					{% include form-date-line.html formName="create_class" inputID="end_date" %}
				</ul>
			</li>
		</ul>
		{% include button.html function="processCreateClass" label="Create" id="create_class" %}
	</form>

	{% include alert-message.html id="create_class_warning" type="warning" %}
	{% include alert-message.html id="create_class_error" type="error" %}
</div>

<script>
	(function(){
		let formName = "create_class";

		// clear the alert messages
		clearAlertPrinter(formName + "_warning");
		clearAlertPrinter(formName + "_error");

		// set the default values for start and end date
		const startDateInput = $("#" + formName + "_start_date");
		const endDateInput = $("#" + formName + "_end_date");

		let date = new Date();
		const todayStr = getWebFormattedDateString(date);
		startDateInput.attr("value", todayStr); // default value of start date is today
		startDateInput.attr("min", todayStr);
		endDateInput.attr("min", todayStr);

		date.setDate(date.getDate() + 7); // default end date is 1 week away
		endDateInput.attr("value", getWebFormattedDateString(date));
	})();

	function parseInputDate(str) {
		// by default, because there's no timestamp, it treats it as UTC
		const parsed = new Date(Date.parse(str));
		// so, use the "UTC" values to generate a new date which is in the correct timezone
		let utcValDate = new Date(parsed.getUTCFullYear(), parsed.getUTCMonth(), parsed.getUTCDate(), parsed.getUTCHours(), parsed.getUTCMinutes(), parsed.getUTCSeconds());
	    // finally, set it to midnight for our current timezone
		utcValDate.setHours(0, 0, 0, 0);
		return utcValDate;
	}

	function processCreateClass() {
		if (profCommands.getIsProcessing()) return;

		let formName = "create_class";

		const elements = document.getElementById(formName + "_form").elements;
		const className = elements[formName + "_name"].value;
		const startDateStr = elements[formName + "_start_date"].value;
		const endDateStr = elements[formName + "_end_date"].value;
		const printer = getAlertPrinter(formName + "_error");

		if (!isString(className) || !isString(startDateStr) || !isString(endDateStr)) {
			printer("Invalid data type.");
			return;
		}

		if (isNullOrEmpty(className) || (startDateStr) || isNullOrEmpty(endDateStr)) {
			printer("All fields must be filled out!");
			return;
		}

		const startDate = parseInputDate(startDateStr);
		const endDate = parseInputDate(endDateStr);

		let yesterday = new Date();
		yesterday.setDate(yesterday.getDate() - 1); // this works apparently even if it goes over a month

		if (startDate <= yesterday) {
			printer("Start date cannot be before today's date!");
			return;
		}

		if (endDate <= startDate) {
			printer("End date must be after start date!");
			return;
		}

		const submitButton = $("#button_" + formName);
		submitButton.prop("disabled", true);
		printer("");

		profCommands.createClass(
			getSlidersFormattedDateString(startDate),
			getSlidersFormattedDateString(endDate),
			function(classCode) {
				goToPageSafe("/manageclass/?code=" + classCode);
			},
			function(msg) {
				submitButton.prop("disabled", false);
				printer(msg);
			}
		);
	}
</script>
