<div class="section-header">Assign Groups (optional)</div>

<div class="manual-assign-help create-class-div">
{% capture my_include %}{% include manual-assign-help.md %}{% endcapture %}
{{ my_include | markdownify }}
</div>

<form id="manual_assign_form">
	<ul class="form-list">
		{% include form-file-line.html formName="manual_assign_form" inputID="upload" label="Upload a CSV file" %}
	</ul>
</form>

<div class="section-header">Create New Class</div>

<div class="create-class-div">
{% capture my_include %}{% include create-class-help.md %}{% endcapture %}
{{ my_include | markdownify }}
</div>

<form id="create_class_form">
	<ul class="form-list">
		{% include form-line.html formName="create_class" inputID="name" inputType="text" placeholder="Class Name (visible to students)" %}
		<li>
			<ul class="form-date-range">
				{% include form-date-line.html formName="create_class" inputID="start_date" label="Start Date" %}
				<li class="hidden-divider">
				{% include form-date-line.html formName="create_class" inputID="end_date" label="End Date" %}
			</ul>
		</li>
	</ul>
</form>
{% include button.html function="processCreateClass" label="Create" id="create_class" %}

<div class="create-class-form-helper">
	<h2 id="game-length-helper">
	</h2>
	<h2 id="game-start-end-helper">

	</h2>
</div>
{% include alert-message.html id="create_class_warning" type="warning" %}
{% include alert-message.html id="create_class_error" type="error" %}

<script>
	if (loginManager.isProfessor()) {
		const createClassHelpers = function(){
			const formName = "create_class";

			const manualAssignElement = document.getElementById("manual_assign_form").elements["manual_assign_form_upload"];

			const elements = document.getElementById(formName + "_form").elements;
			const startDateElement = elements[formName + "_start_date"];
			const endDateElement = elements[formName + "_end_date"];

			const warningPrinter = getAlertPrinter(formName + "_warning");
			const errorPrinter = getAlertPrinter(formName + "_error");

			function getDateDisplay(date) {
				return date.toLocaleString('default', {month: 'short', day: 'numeric'}) + " (" + date.toLocaleString( 'default', {weekday: 'long'} ) + ")";
			}

			function onDatesEdited() {
				const startDateStr = startDateElement.value;
				const endDateStr = endDateElement.value;

				warningPrinter("");
				errorPrinter("");

				$("#game-length-helper").text("");
				$("#game-start-end-helper").text("");

				if (isNullOrEmpty(startDateStr) || isNullOrEmpty(endDateStr)) {
					return;
				}

				const startDate = parseInputDate(startDateStr);
				if (startDate == null) {
					errorPrinter("Start date is invalid");
					return;
				}

				const endDate = parseInputDate(endDateStr);
				if (endDate == null) {
					errorPrinter("End date is invalid");
					return;
				}

				let today = dateHelpers.getCurrentDate();

				if (startDate <= today) {
					errorPrinter("Start date must be after today!");
					return;
				}

				if (endDate <= startDate) {
					errorPrinter("End date must be after start date!");
					return;
				}

				const gameLength = Math.ceil((endDate - startDate) / (1000 * 60 * 60 * 24)); // number of milliseconds per day

				// $("#game-length-helper").text("This class will last for " + gameLength + " days.");
				// $("#game-start-end-helper").text("Students can start playing on " + getDateDisplay(startDate) + " and will have until " + getDateDisplay(endDate) + " to finish.");

				$("#game-length-helper").text("Students will be able to start playing on " + getDateDisplay(startDate));
				$("#game-start-end-helper").text("They will have " + gameLength + " days to finish, until " + getDateDisplay(endDate) + ".");

				const daysUntilStart = Math.ceil((startDate - today) / (1000 * 60 * 60 * 24)); // number of milliseconds per day
				if (daysUntilStart < 4) {
					warningPrinter("At least 3 full days is recommended for students to sign up.");
					return;
				}

				if (gameLength < 5 || gameLength > 9) {
					warningPrinter("5 to 9 days is recommended for students to complete the game.");
					return;
				}
			}

			function parseInputDate(str) {
				// format is yyyy-mm-dd
				const tokens = str.split('-');
				if (tokens.length != 3) {
					return null;
				}

				const year = parseInt(tokens[0]);
				const month = parseInt(tokens[1]);
				const date = parseInt(tokens[2]);

				if (isNaN(year) || isNaN(month) || isNaN(date)) {
					return null;
				}

				if (month > 12 || month < 1 || date > 31 || date < 1) {
					return null;
				}

				return new Date(year, month - 1, date, 0, 0, 0);
			}

			// called on "start"
			(function(){
				// clear the alert messages
				clearAlertPrinter(formName + "_warning");
				clearAlertPrinter(formName + "_error");

				// make all links open in a separate tab
				$(".manual-assign-help a").prop("target", "_blank");

				// set the default values for start and end date
				const startDateInput = $("#" + formName + "_start_date");
				const endDateInput = $("#" + formName + "_end_date");

				let date = dateHelpers.getCurrentDate();

				date.setDate(date.getDate() + 1);
				const tomorrowStr = dateHelpers.getWebFormattedDateString(date);
				startDateInput.attr("min", tomorrowStr); // minimum date is tomorrow
				endDateInput.attr("min", tomorrowStr);

				date.setDate(date.getDate() + 3);
				startDateInput.attr("value", dateHelpers.getWebFormattedDateString(date)); // default value of start date is 3 full days after today

				date.setDate(date.getDate() + 7); // default end date is 1 week away
				endDateInput.attr("value", dateHelpers.getWebFormattedDateString(date));

				// set up listeners for the date input fields
				startDateInput.on('input', onDatesEdited);
				endDateInput.on('input', onDatesEdited);

				const fileText = $('#manual_assign_form_upload_label');

				manualAssignElement.addEventListener('change', function(){
					if (this.files == null || this.files.length < 1) {
						fileText.text("Upload a CSV file");
						fileText.css({"color": "#939393"});
					} else {
						fileText.text(this.files[0].name);
						fileText.css({"color": "black"});
					}
				})

				onDatesEdited();
			})();

			function processCreateClass() {
				if (profCommands.getIsProcessing()) return;

				const className = elements[formName + "_name"].value;
				const startDateStr = startDateElement.value;
				const endDateStr = endDateElement.value;

				if (isNullOrEmpty(className) || isNullOrEmpty(startDateStr) || isNullOrEmpty(endDateStr)) {
					errorPrinter("All fields must be filled out!");
					return;
				}

				const startDate = parseInputDate(startDateStr);
				const endDate = parseInputDate(endDateStr);

				let today = dateHelpers.getCurrentDate();

				if (startDate == null || endDate == null || startDate <= today || endDate <= startDate) {
					return;
				}

				(async () => {
					let manualAssignData = null;
					const hasFile = manualAssignElement.files != null && manualAssignElement.files.length > 0;

					if (hasFile) {
						manualAssignData = await manualAssignElement.files[0].text();
						if (manualAssignData.length > 128000) {
							errorPrinter("File is too large!"); // for now, limit to 128kb
							return;
						}
					}

					const submitButton = $("#button_" + formName);
					submitButton.prop("disabled", true);
					errorPrinter("");
					warningPrinter("");

					profCommands.createClass(
						className,
						dateHelpers.getSlidersFormattedDateString(startDate),
						dateHelpers.getSlidersFormattedDateString(endDate),
						manualAssignData,
						function(classCode) {
							goToPageSafe("/manageclass/?code=" + classCode);
						},
						function(msg) {
							submitButton.prop("disabled", false);
							errorPrinter(msg);
						}
					);

				})();
			}

			return {
				onDatesEdited:onDatesEdited,
				processCreateClass:processCreateClass
			}
		}();

		function onDatesEdited() {
			createClassHelpers.onDatesEdited();
		}

		function processCreateClass() {
			createClassHelpers.processCreateClass();
		}
	}
</script>
