<div class="section-header">Create New Class</div>
<form id="create_class_form">
	<ul class="form-list">
		{% include form-line.html formName="create_class" inputID="name" inputType="text" placeholder="Class Name (visible to students)" %}
		<li>
			<ul class="form-date-range">
				{% include form-date-line.html formName="create_class" inputID="start_date" label="Start Date" %}
				<li class="hidden-divider">
				{% include form-date-line.html formName="create_class" inputID="end_date" label="End Date" %}
			</ul>
		</li>
	</ul>
</form>
{% include button.html function="processCreateClass" label="Create" id="create_class" %}
{% include alert-message.html id="create_class_warning" type="warning" %}
{% include alert-message.html id="create_class_error" type="error" %}

<script>
	createClassHelpers = function(){
		const formName = "create_class";

		// called on "start"
		(function(){
			// clear the alert messages
			clearAlertPrinter(formName + "_warning");
			clearAlertPrinter(formName + "_error");

			// set the default values for start and end date
			const startDateInput = $("#" + formName + "_start_date");
			const endDateInput = $("#" + formName + "_end_date");

			let date = new Date();

			date.setDate(date.getDate() + 1);
			const tomorrowStr = getWebFormattedDateString(date);
			startDateInput.attr("min", tomorrowStr); // minimum date is tomorrow
			endDateInput.attr("min", tomorrowStr);

			date.setDate(date.getDate() + 3);
			startDateInput.attr("value", getWebFormattedDateString(date)); // default value of start date is 3 full days after today

			date.setDate(date.getDate() + 7); // default end date is 1 week away
			endDateInput.attr("value", getWebFormattedDateString(date));

			// set up listeners for the date input fields
			startDateInput.on('input', onDatesEdited);
			endDateInput.on('input', onDatesEdited);
		})();

		const elements = document.getElementById(formName + "_form").elements;
		const startDateElement = elements[formName + "_start_date"];
		const endDateElement = elements[formName + "_end_date"];

		const warningPrinter = getAlertPrinter(formName + "_warning");
		const errorPrinter = getAlertPrinter(formName + "_error");

		function onDatesEdited() {
			const startDateStr = startDateElement.value;
			const endDateStr = endDateElement.value;

			warningPrinter("");
			errorPrinter("");

			if (isNullOrEmpty(startDateStr) || isNullOrEmpty(endDateStr)) {
				return;
			}

			const startDate = parseInputDate(startDateStr);
			const endDate = parseInputDate(endDateStr);

			let today = new Date();

			if (startDate <= today) {
				errorPrinter("Start date must be after today!");
				return;
			}

			if (endDate <= startDate) {
				errorPrinter("End date must be after start date!");
				return;
			}

			const daysUntilStart = Math.ceil((startDate - today) / (1000 * 60 * 60 * 24)); // number of milliseconds per day
			if (daysUntilStart < 4) {
				warningPrinter("At least 3 full days is recommended for students to join class.");
				return;
			}

			const gameLength = Math.ceil((endDate - startDate) / (1000 * 60 * 60 * 24)); // number of milliseconds per day
			if (gameLength < 5 || gameLength > 9) {
				warningPrinter("5 to 9 days is recommended for students to complete the game.");
				return;
			}
		}

		function parseInputDate(str) {
			// by default, because there's no timestamp, it treats it as UTC
			const parsed = new Date(Date.parse(str));
			// so, use the "UTC" values to generate a new date which is in the correct timezone
			let utcValDate = new Date(parsed.getUTCFullYear(), parsed.getUTCMonth(), parsed.getUTCDate(), parsed.getUTCHours(), parsed.getUTCMinutes(), parsed.getUTCSeconds());
		    // finally, set it to midnight for our current timezone
			utcValDate.setHours(0, 0, 0, 0);
			return utcValDate;
		}

		function processCreateClass() {
			if (profCommands.getIsProcessing()) return;

			const className = elements[formName + "_name"].value;
			const startDateStr = startDateElement.value;
			const endDateStr = endDateElement.value;

			if (!isString(className) || !isString(startDateStr) || !isString(endDateStr)) {
				errorPrinter("Invalid data type.");
				return;
			}

			if (isNullOrEmpty(className) || isNullOrEmpty(startDateStr) || isNullOrEmpty(endDateStr)) {
				errorPrinter("All fields must be filled out!");
				return;
			}

			const startDate = parseInputDate(startDateStr);
			const endDate = parseInputDate(endDateStr);

			let today = new Date();

			if (startDate <= today || endDate <= startDate) {
				return;
			}

			const submitButton = $("#button_" + formName);
			submitButton.prop("disabled", true);
			errorPrinter("");
			warningPrinter("");

			profCommands.createClass(
				className,
				getSlidersFormattedDateString(startDate),
				getSlidersFormattedDateString(endDate),
				function(classCode) {
					goToPageSafe("/manageclass/?code=" + classCode);
				},
				function(msg) {
					submitButton.prop("disabled", false);
					errorPrinter(msg);
				}
			);
		}

		return {
			onDatesEdited:onDatesEdited,
			processCreateClass:processCreateClass
		}
	}();



	function onDatesEdited() {
		createClassHelpers.onDatesEdited();
	}

	function processCreateClass() {
		createClassHelpers.processCreateClass();
	}
</script>
