<div class="section-header">Professor Sign Up</div>
<form id="create_professor_account_form">
	<ul class="form-list">
		{% include form-line.html formName="create_professor_account" inputID="name" inputType="text" placeholder="Name (visible to students)" %}
		{% include form-line.html formName="create_professor_account" inputID="email" inputType="email" placeholder="Email" %}
		{% include form-line.html formName="create_professor_account" inputID="password" inputType="password" placeholder="Password" %}
		{% include form-line.html formName="create_professor_account" inputID="confirm_password" inputType="password" placeholder="Confirm Password" %}
	</ul>
</form>
{% include button.html function="processCreateProfAccount" id="create_professor_account" label="Sign Up" %}
{% include alert-message.html id="create_professor_account" type="error" %}
{% include alert-message.html id="general_warning" type="warning" %}

<script>
	const generalWarning = getAlertPrinter("general_warning");
	generalWarning("This page is for professors. If you are a student, contact your professor for help.");

	if (!loginManager.isProfessor() && !loginManager.isStudent()) {
		clearAlertPrinter("create_professor_account");

		function processCreateProfAccount() {
			if (profCommands.getIsProcessing()) return;

			const formName = "create_professor_account";

			const elements = document.getElementById(formName + "_form").elements;
			const email = elements[formName + "_email"].value;
			const name = elements[formName + "_name"].value;
			const password = elements[formName + "_password"].value;
			const confirm = elements[formName + "_confirm_password"].value;
			const printer = getAlertPrinter(formName);

			if (isNullOrEmpty(email) || isNullOrEmpty(name) || isNullOrEmpty(password) || isNullOrEmpty(confirm)) {
				printer("All fields must be filled out!");
				return;
			}

			if (elements[formName + "_email"].validity.typeMismatch) {
				printer("Please enter a valid email address!");
				return;
			}

			if (confirm !== password) {
				printer("Passwords do not match!");
				return;
			}

			const submitButton = $("#button_" + formName);
			submitButton.prop("disabled", true);
			printer("");

			const onComplete = function(msg) {
				submitButton.prop("disabled", false);
				printer(msg);
			}

			profCommands.createAccount(email, password, name, getPageRedirector("/manageclasses"), onComplete);
		}
	}
</script>
