{% include class-info.html %}

<script>
	(function() {
		let printer = getAlertPrinter("join_class");
		printer("");

		let classCode = getURLClassCode();

		if (isNullOrEmpty(classCode)) {
			urlReplaceSafe("/"); // go there and don't let us come back
			return;
		}

		function initClassData(data) {
			classCommands.initializeClassInfo(data);
		}

		classCommands.fetchClassData(
			classCode,
			classCommands.classInfoAttributes(),
			initClassData,
			function(msg) {
				printer(msg);
				classCommands.hideClassInfo();
			}
		);
	})();
</script>
