<div class="prof_logged_in">
	<p>Manage classes</p>
	<ul id="manage_classes_list">
	</ul>
	<p id="manage_classes_log"></p>
	<input type="button" onclick="goToPageSafe('/createclass')" value="New Class" id="button_add_new_class">
</div>

<script>
	function displayClassData(classes) {
		const today = new Date();
		const formatDate = function(date) {
			return getPaddedNumStr(date.getMonth() + 1, 2) + "/" + getPaddedNumStr(date.getDate(), 2);
		}

		const classItemHTML = function(classData) {
			let code = classData["ClassCode"];
			let status;
			let startDate = parseSlidersDateString(classData["StartDate"]);
			if (today < startDate) {
				status = "Unstarted: Starts " + formatDate(startDate);
			} else {
				let endDate = parseSlidersDateString(classData["EndDate"]);
				if (today < endDate) {
					status = "Started: Ends " + formatDate(endDate);
				} else {
					status = "Completed"
				}
			}

			return "<a onclick=\"goToPageSafe('/manageclass/?code=" + code + "')\">" + code + "</a> - " + status;
		};

		const len = classes.length;
		if (len > 0) {
			const list = document.getElementById("manage_classes_list");
			list.innerHTML = ""; // clear anything inside of it

			let newElement;

			for (let i = 0; i < len; i++) {
				newElement = document.createElement("li");
				newElement.innerHTML = classItemHTML(classes[i]);
				list.appendChild(newElement);
			}
		}
	}

	document.addEventListener("DOMContentLoaded", function(event) {
		if (loginManager.isProfessor()) {
			profCommands.getClassList(displayClassData, getHtmlPrinter("manage_classes_log"));
		}
	});
</script>
