<div class="section-header">Manage Classes</div>
<div class="section" id="no_classes_message">
	{% capture my_include %}{% include no-classes-message.md %}{% endcapture %}
	{{ my_include | markdownify }}
</div>
<ul id="manage_classes_list" class="class-element-list">
</ul>
{% include button.html label="Create New" id="goto_create_class" function="goToCreateNewClass" %}
{% include alert-message.html id="manage_classes" type="error" %}

<script>
	if (loginManager.isProfessor()) {
		function goToCreateNewClass() {
			goToPageSafe("/createclass");
		}

		(function(){
			let classList = null;
			let classElementTemplate = null;

			let printer = getAlertPrinter("manage_classes")
			printer("");

			function initClassElementTemplate(newTemplate) {
				classElementTemplate = newTemplate;

				if (classList !== null) {
					displayClassData();
				}
			}

			function initClassList(newList) {
				classList = newList;
				classList.sort(function(a, b) {
					let comp = b["StartDate"].localeCompare(a["StartDate"]); // newer classes on top
					if (comp == 0) {
						comp = a["EndDate"].localeCompare(b["EndDate"]); // classes that will end sooner on top
						if (comp == 0) {
							comp = a["Name"].localeCompare(b["Name"]); // sort alphabetically by name
							if (comp == 0) {
								comp = a["ClassCode"].localeCompare(b["ClassCode"]); // sort alphabetically by code
							}
						}
					}
					return comp;
				});

				if (classElementTemplate !== null) {
					displayClassData();
				}
			}

			function displayClassData() {
				const generateClassElementHTML = function(classData) {
					const statusData = classCommands.getClassStatus(classData);

					let html = classElementTemplate;
					html = html.replaceAll("[code]", classData["ClassCode"]);
					html = html.replaceAll("[name]", classData["Name"]);
					html = html.replaceAll("[status]", statusData["Status"]);
					html = html.replaceAll("[studentCount]", classData["StudentCount"]);
					html = html.replaceAll("[statusMessage]", statusData["Message"]);

					return html;
				}

				const len = classList.length;
				if (len > 0) {
					$("#no_classes_message").css("display", "none");
					const list = document.getElementById("manage_classes_list");
					list.innerHTML = ""; // clear anything inside of it

					let newElement;

					for (let i = 0; i < len; i++) {
						newElement = document.createElement("li");
						newElement.innerHTML = generateClassElementHTML(classList[i]);
						list.appendChild(newElement);
					}
				} else {
					$("#no_classes_message").css("display", ""); // show custom message
				}
			}

			$.ajax({
	            url: "/templates/class_element.html",
	            async: true,
	            success: initClassElementTemplate,
				error: function(xhr, ajaxOptions, thrownError) {
					printer("Could not load intro statement.");
				}
	        });

			document.addEventListener("DOMContentLoaded", function(event) {
				if (loginManager.isProfessor()) {
					profCommands.getClassList(
						initClassList,
						printer
					);
				}
			});
		})();
	}
</script>
