<div class="prof_logged_in">
	<p>Manage classes</p>
	<ul id="manage_classes_list">
	</ul>
	<p id="manage_classes_log"></p>
</div>
<div class="logged_out">
	{% include create-professor-account.html %}
</div>

<script>
	function displayClassData(classes) {
		// console.log("oi");
		// console.log(JSON.stringify(classes, undefined, 2));
		// return;

		const classItemHTML = function(classData) {
			let code = classData["ClassCode"];
			return "<a onclick=\"goToPageSafe('/manageclass/?code=" + code + "')\">" + code + "</a>";
		};

		const len = classes.length;
		const list = document.getElementById("manage_classes_list");
		list.innerHTML = ""; // clear anything inside of it

		let newElement;

		for (let i = 0; i < len; i++) {
			newElement = document.createElement("li");
			newElement.innerHTML = classItemHTML(classes[i]);
			list.appendChild(newElement);
		}
	}

	document.addEventListener("DOMContentLoaded", function(event) {
		if (loginManager.isProfessor()) {
			profCommands.getClassList(displayClassData, getHtmlPrinter("manage_classes_log"));
		}
	});
</script>
