<div class="section">
	{% include alert-message.html id="manage_class" type="warning" %}
	{% include class-info.html %}
</div>
<div id="status-section">
</div>

<script>
	function copyInvitation() {
		console.log("YAPE");
	}

	(function() {
		let printer = getAlertPrinter("manage_class");
		printer("");

		let classCode = getURLClassCode();

		if (isNullOrEmpty(classCode)) {
			goToPageSafe("/manageclasses");
			return;
		}

		function fillOutIntroStatement(data, text) {
			let formattedStartDate = getShortFormattedDateString(parseSlidersDateString(data["StartDate"]));
			text = text.replaceAll("[start_date]", formattedStartDate);
			let homepage = document.location.origin;
			text = text.replaceAll("[url_join_page]", homepage + "/join?code=" + classCode);
			text = text.replaceAll("[url_home_page]", homepage + "/");
			return text;
		}

		function initClassData(data) {
			classCommands.initializeClassInfo(data);

			let status = classCommands.getClassStatus(data)["Status"];
			if (!isNullOrEmpty(status)) {
				if (status === "unstarted") {
					$.ajax({
						url: "/templates/status-section-unstarted.html",
						async: true,
						success: function(templateText) {
							$("#status-section").html(fillOutIntroStatement(data, templateText));
						},
						error: function(xhr, ajaxOptions, thrownError) {
							printer("Could not load unstarted section.");
						}
					});
				}
			}
		}

		classCommands.fetchClassData(
			classCode,
			classCommands.classInfoAttributes(),
			initClassData,
			function(msg) {
				printer(msg);
				classCommands.hideClassInfo();
			}
		);
	})();
</script>
