<div class="student-has-class">
	{% include loading-indicator.html %}

	{% include class-info.html %}
	<div class="loadable">
		{% include button.html id="leave_class" function="leaveClass" label="Leave Class" %}

	    {% include where-to-play.html %}
	</div>
</div>
{% include alert-message.html id="my_class" type="warning" %}

<div class="my-account-email">
</div>

<div class="research-report">
	<br>
	{% include loading-indicator.html %}
	<div class="loadable">
		{% include button.html label="Generate Research Report" id="download_report" function="downloadResearchReport" %}
	</div>
</div>

<script>
	$(".my-account-email").text("Currently logged in as: " + loginManager.getProperty("Email"));
	let printer = getAlertPrinter("my_class");
	printer("");
	$(".research-report").css("display", "none");

	if (loginManager.isStudent()) {
		(function() {
			classCommands.hideClassInfo();

			const onNoClass = function() {
				printer("You are not currently in a class.");
				$("#button_leave_class").css("display", "none");
			};

			if (!loginManager.isStudent() || !loginManager.isPropertyNonEmpty("ClassCode")) {
				onNoClass();
				return;
			}

			studentCommands.getMyClassData(
				function(classData) { // found class code
					classCommands.initializeClassInfo(classData);
					const status = classCommands.getClassStatus(classData)["Status"];
					if (status == "unstarted") {
						$("#button_leave_class").css("display", "");
					} else {
						$("#button_leave_class").css("display", "none");
					}

					if (status == "started" || status == "unstarted") {
						$(".where-to-play-list").css("display", "");
					} else {
						$(".where-to-play-list").css("display", "none");
					}
				},
				function() { // no class code
					onNoClass();
					return;
				},
				function(msg) { // error
					printer(msg);
					classCommands.hideClassInfo();
				}
			);
		})();

		function leaveClass() {
			const submitButton = $("#button_leave_class");
			submitButton.prop("disabled", true);

			const onComplete = function(msg) {
				submitButton.prop("disabled", false);
				getAlertPrinter("my_class")(msg);
			}

			studentCommands.leaveClass(
				function() { // successfully left the class
					goToPageSafe("/");
				},
				onComplete
			);
		}
	} else if (loginManager.isProfessor()) {
		function downloadResearchReport() {
			profCommands.getResearchReport(
				function(report) {
					const element = document.createElement("a");
				    const file = new Blob([report], {
				      type: "text/plain",
				    });
				    element.href = URL.createObjectURL(file);
				    element.download = "ResearchReport (" + dateHelpers.getWebFormattedDateString(dateHelpers.getCurrentDate()) + ").csv";
				    document.body.appendChild(element);
				    element.click();
				},
				function(msg) {
					printer("Could not download report");
				}
			);
		}


		profCommands.getIsResearchUser(
			function(value) {
				if (value) {
					// we are a research user, so show the button
					$(".research-report").css("display", "");
				}
			},
			function(msg) { // error
				printer(msg);
			}
		);
	}
</script>
