{% include loading-indicator.html %}
{% include class-info.html %}
<div class="loadable">
	{% include button.html id="leave_class" function="leaveClass" label="Leave Class" %}

    {% include where-to-play.html %}
</div>
{% include alert-message.html id="my_class" type="warning" %}

<script>
	if (loginManager.isStudent()) {
		(function() {
			let printer = getAlertPrinter("my_class");
			printer("");
			classCommands.hideClassInfo();

			const onNoClass = function() {
				printer("You are not currently in a class.");
				$("#button_leave_class").css("display", "none");
			};

			if (!loginManager.isStudent() || !loginManager.isPropertyNonEmpty("ClassCode")) {
				onNoClass();
				return;
			}

			studentCommands.getMyClassData(
				function(classData) { // found class code
					classCommands.initializeClassInfo(classData);
					const status = classCommands.getClassStatus(classData)["Status"];
					if (status == "unstarted") {
						$("#button_leave_class").css("display", "");
					} else {
						$("#button_leave_class").css("display", "none");
					}

					if (status == "started" || status == "unstarted") {
						$(".where-to-play-list").css("display", "");
					} else {
						$(".where-to-play-list").css("display", "none");
					}
				},
				function() { // no class code
					onNoClass();
					return;
				},
				function(msg) { // error
					printer(msg);
					classCommands.hideClassInfo();
				}
			);
		})();

		function leaveClass() {
			const submitButton = $("#button_leave_class");
			submitButton.prop("disabled", true);

			const onComplete = function(msg) {
				submitButton.prop("disabled", false);
				getAlertPrinter("my_class")(msg);
			}

			studentCommands.leaveClass(
				function() { // successfully left the class
					goToPageSafe("/");
				},
				onComplete
			);
		}
	}
</script>
