{% include alert-message.html id="my_class" type="warning" %}
{% include class-info.html %}

<script>
	(function() {
		if (!loginManager.isStudent()) {
			goToPageSafe("/");
			return;
		}

		let printer = getAlertPrinter("my_class");
		printer("");

		studentCommands.getMyClassData(
			classCommands.classInfoAttributes(),
			classCommands.initializeClassInfo, // found class code
			function() { // no class code
				goToPageSafe("/");
				return;
			},
			function(msg) { // error
				printer(msg);
				classCommands.hideClassInfo();
			}
		);
	})();
</script>
