{% include class-info.html %}
{% include button.html id="leave_class" function="leaveClass" label="Leave Class" %}
{% include alert-message.html id="my_class" type="warning" %}

<script>
	if (loginManager.isProfessor()) {
		urlReplaceSafe("/"); // go to homepage if we are a professor
	} else if (!loginManager.isStudent()) {
		urlReplaceSafe("/signin/"); // have us sign in if we're signed out
	} else {
		(function() {
			let printer = getAlertPrinter("my_class");
			printer("");
			classCommands.hideClassInfo();

			const onNoClass = function() {
				printer("You are not currently in a class.");
				$("#button_leave_class").css("display", "none");
			};

			if (!loginManager.isStudent() || !loginManager.isPropertyNonEmpty("ClassCode")) {
				onNoClass();
				return;
			}

			studentCommands.getMyClassData(
				classCommands.classInfoAttributes(),
				function(classData) { // found class code
					classCommands.initializeClassInfo(classData);
					if (classCommands.getClassStatus(classData)["Status"] == "unstarted") {
						$("#button_leave_class").css("display", "");
					} else {
						$("#button_leave_class").css("display", "none");
					}
				},
				function() { // no class code
					onNoClass();
					return;
				},
				function(msg) { // error
					printer(msg);
					classCommands.hideClassInfo();
				}
			);
		})();

		function leaveClass() {
			studentCommands.leaveClass(
				function() { // successfully left the class
					goToPageSafe("/");
				},
				getAlertPrinter("my_class")
			);
		}
	}
</script>
