<div id="unity-container" class="unity-desktop">
    <canvas id="unity-canvas" width=832 height=468></canvas>
        <div id="unity-loading-bar">
            <div id="unity-logo"></div>
            <div id="unity-progress-bar-empty">
                <div id="unity-progress-bar-full"></div>
            </div>
        </div>
    <div id="unity-warning"> </div>
    <!-- <div id="unity-footer">
    <div id="unity-webgl-logo"></div>
    <div id="unity-fullscreen-button"></div>
    <div id="unity-build-title">CorporateCavalry</div>
    </div> -->
</div>
{% include alert-message.html id="play_game_error" type="error" %}
{% include alert-message.html id="play_game_warning" type="warning" %}

<div class="section">
    <ul class="where-to-play-list">
        <li>
            <ul class="where-to-play-list-mobile">
                <li>
                    {% include button.html function="onIOSAppStoreButtonPressed" id="download_for_iOS" label="Download for iOS" %}
                </li>
                <li class="hidden-divider">
                <li>
                    {% include button.html function="onGooglePlayStoreButtonPressed" id="download_for_android" label="Download for Android" %}
                </li>
            </ul>
        </li>
    </ul>
</div>

<script>
    function onIOSAppStoreButtonPressed() {
        window.open("https://apps.apple.com/us/app/corporate-cavalry/id1645579294");
    }
    function onGooglePlayStoreButtonPressed() {
        window.open("https://play.google.com/store/apps/details?id=edu.ucdavis.corporatecavalry");
    }

    var container = document.querySelector("#unity-container");
    var canvas = document.querySelector("#unity-canvas");
    var loadingBar = document.querySelector("#unity-loading-bar");
    var progressBarFull = document.querySelector("#unity-progress-bar-full");
    // var fullscreenButton = document.querySelector("#unity-fullscreen-button");
    var warningBanner = document.querySelector("#unity-warning");

    // Shows a temporary message banner/ribbon for a few seconds, or
    // a permanent error message on top of the canvas if type=='error'.
    // If type=='warning', a yellow highlight color is used.
    // Modify or remove this function to customize the visually presented
    // way that non-critical warnings and error messages are presented to the
    // user.
    function unityShowBanner(msg, type) {
        function updateBannerVisibility() {
            warningBanner.style.display = warningBanner.children.length ? 'block' : 'none';
        }
        var div = document.createElement('div');
        div.innerHTML = msg;
        warningBanner.appendChild(div);
        if (type == 'error') div.style = 'background: red; padding: 10px;';
        else {
            if (type == 'warning') div.style = 'background: yellow; padding: 10px;';
                setTimeout(function() {
                warningBanner.removeChild(div);
                updateBannerVisibility();
            }, 5000);
        }
        updateBannerVisibility();
    }

    var buildUrl = "Build";
    var loaderUrl = buildUrl + "/CorporateCavalry.loader.js";
    var config = {
        dataUrl: buildUrl + "/CorporateCavalry.data",
        frameworkUrl: buildUrl + "/CorporateCavalry.framework.js",
        codeUrl: buildUrl + "/CorporateCavalry.wasm",
        streamingAssetsUrl: "StreamingAssets",
        companyName: "TrassGames",
        productName: "CorporateCavalry",
        productVersion: "0.41",
        showBanner: unityShowBanner,
    };

    // By default Unity keeps WebGL canvas render target size matched with
    // the DOM size of the canvas element (scaled by window.devicePixelRatio)
    // Set this to false if you want to decouple this synchronization from
    // happening inside the engine, and you would instead like to size up
    // the canvas DOM size and WebGL render target sizes yourself.
    // config.matchWebGLToCanvasSize = false;

    const warningPrinter = getAlertPrinter("play_game_warning");
    const errorPrinter = getAlertPrinter("play_game_error");

    warningPrinter("");
    errorPrinter("");

    if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
        $(".mobile").css({"display": ""});
        $("#unity-container").css({"display": "none"});
        errorPrinter("Web build is not supported on mobile");
    } else {
        $(".mobile").css({"display": "none"});
        $("#unity-container").css({"display": ""});
        // Desktop style: Render the game canvas in a window that can be maximized to fullscreen:

        canvas.style.width = "832px";
        canvas.style.height = "468px";

        loadingBar.style.display = "block";

        var script = document.createElement("script");
        script.src = loaderUrl;
        script.onload = () => {
            createUnityInstance(canvas, config, (progress) => {
            progressBarFull.style.width = 100 * progress + "%";
            }).then((unityInstance) => {
            loadingBar.style.display = "none";
            // fullscreenButton.onclick = () => {
            //   unityInstance.SetFullscreen(1);
            // };
            }).catch((message) => {
            alert(message);
            });

            warningPrinter("Playing on mobile is highly recommended");
        }

        document.body.appendChild(script);
    };
</script>
