<div class="section">
	<div class="prof_logged_out">
		<p>Create an account</p>
		<form id="prof_create_account_form">
			<label for="prof_create_account_email">Email:</label>
			<input type="email" name="email" id="prof_create_account_email" size="50"><br>

			<label for="prof_create_account_password">Password:</label>
			<input type="password" name="password" id="prof_create_account_password" size="50"><br>

			<label for="prof_create_account_password_confirm">Confirm Password:</label>
			<input type="password" name="password_confirm" id="prof_create_account_password_confirm" size="50"><br><br>
			<input type="button" onclick="processCreateAccount()" value="Create account" id="button_prof_create_account">
		</form>
		<br>
		<p id="prof_create_account_printer"></p>
	</div>
</div>

<script>
function processCreateAccount() {
	if (profCommands.getIsProcessing()) return;

	const elements = document.getElementById("prof_create_account_form").elements;
	const email = elements["email"].value;
	const password = elements["password"].value;
	const confirm = elements["password_confirm"].value;
	const printer = getHtmlPrinter("prof_create_account_printer");

	if (!isString(email) || !isString(password) || !isString(confirm)) {
		printer("Invalid data type.");
		return;
	}

	if (isNullOrEmpty(email) || isNullOrEmpty(password) || !isString(confirm)) {
		printer("All fields must be filled out!");
		return;
	}

	if (elements["email"].validity.typeMismatch) {
		printer("Please enter a valid email address!");
		return;
	}

	if (confirm !== password) {
		printer("Passwords do not match!");
		return;
	}

	const submitButton = $("#button_prof_create_account");
	submitButton.prop("disabled", true);
	printer("");

	const onComplete = function(msg) {
		submitButton.prop("disabled", false);
		printer(msg);
	}

	profCommands.createAccount(email, password, loginRefresh, onComplete);
}
</script>
