<div class="section">
	<div class="logged_out">
		<p>Log in to your account</p>
		<form id="prof_login_form">
			<label for="input_email">Email:</label>
			<input type="text" name="email" id="input_email" size="50"><br>

			<label for="input_password">Password:</label>
			<input type="password" name="password" id="input_password" size="50"><br><br>
			<input type="button" onclick="processLogin()" value="Submit">
		</form>
		<br>
		<p id="log"></p>
	</div>
</div>

<script>
function processLogin() {
	var elements = document.getElementById("prof_login_form").elements;
	var email = elements["email"].value;
	var password = elements["password"].value;
	var printer = getHtmlPrinter("log");

	if (!isString(email) || !isString(password)) {
		printer("Invalid data type.");
		return;
	}

	if (isNullOrEmpty(email) || isNullOrEmpty(password)) {
		printer("All fields must be filled out!");
		return;
	}

	profCommands.login(email, password, printer, loginRefresh);
}
</script>
