<script src="/scripts/prof_commands.js"></script>

<div class="section">
	<div class="logged_in">
		<p id="prof_login_header">loading...</p>
		<input type="button" onclick="processLogout()" value="Logout">
	</div>
</div>

<script>
function loginRefresh() {
	if (profCommands.isLoggedIn()) {
		getHtmlPrinter("prof_login_header")("Logged in as " + profCommands.getCurrentUser());
		$(".logged_in").css("display", "block");
		$(".logged_out").css("display", "none");
	} else {
		$(".logged_in").css("display", "none");
		$(".logged_out").css("display", "block");
	}
}

function processLogout() {
	profCommands.logout();
	loginRefresh();
}

document.addEventListener("DOMContentLoaded", function(event){
	loginRefresh();
});
</script>
