<div class="section">
	<div class="prof_logged_out">
		<p>Log in to your account</p>
		<form id="prof_login_form">
			<label for="prof_login_email">Email:</label>
			<input type="email" name="email" id="prof_login_email" size="50"><br>

			<label for="prof_login_password">Password:</label>
			<input type="password" name="password" id="prof_login_password" size="50"><br><br>
			<input type="button" onclick="processLogin()" value="Log in" id="button_prof_login">
		</form>
		<br>
		<p id="prof_login_printer"></p>
	</div>
</div>

<script>
function processLogin() {
	if (profCommands.getIsProcessing()) return;

	const elements = document.getElementById("prof_login_form").elements;
	const email = elements["email"].value;
	const password = elements["password"].value;
	const printer = getHtmlPrinter("prof_login_printer");

	if (!isString(email) || !isString(password)) {
		printer("Invalid data type.");
		return;
	}

	if (isNullOrEmpty(email) || isNullOrEmpty(password)) {
		printer("All fields must be filled out!");
		return;
	}

	if (elements["email"].validity.typeMismatch) {
		printer("Please enter a valid email address!");
		return;
	}

	const submitButton = $("#button_prof_login");
	submitButton.prop("disabled", true);
	printer("");

	const onComplete = function(msg) {
		submitButton.prop("disabled", false);
		printer(msg);
	}

	profCommands.login(email, password, loginRefresh, onComplete);
}
</script>
