<div class="section-header">Forgot Password?</div>
<form id="request_reset_form">
	<ul class="form-list">
		{% include form-line.html formName="request_reset" inputID="email" inputType="email" placeholder="Email"%}
	</ul>
</form>
{% include button.html function="processResetRequest" id="request_reset" label="Request Reset" %}
{% include alert-message.html id="request_reset" type="error" %}
<p>
A password reset form will be sent to your email address.
</p>

<script>
	if (!loginManager.isStudent() && !loginManager.isProfessor()) {
		clearAlertPrinter("request_reset");

		function setButtonsEnabled(enabled) {
			$("#button_request_reset").prop("disabled", !enabled);
		}

		function processResetRequest() {
			if (studentCommands.getIsProcessing()) return;
			if (profCommands.getIsProcessing()) return;

			const formName = "request_reset";

			const elements = document.getElementById(formName + "_form").elements;
			const email = elements[formName + "_email"].value;
			const printer = getAlertPrinter(formName);

			if (isNullOrEmpty(email)) {
				printer("Please enter an email address.");
				return;
			}

			printer("");

			const onFail = function(msg) {
				setButtonsEnabled(true);
				printer(msg);
			}

			setButtonsEnabled(false);

			// ACTUALLY DO IT HERE
			const onSuccess = function(data) {
				printer("Success: " + data);
			}

			passwordCommands.requestResetPassword(email, onSuccess, onFail);
		}
	}
</script>
