<div class="section-header">Change Password</div>
<form id="change_professor_password_form">
	<ul class="form-list">
		{% include form-line.html formName="change_professor_password" inputID="email" inputType="email" placeholder="Email" %}
		{% include form-line.html formName="change_professor_password" inputID="password" inputType="password" placeholder="New Password" %}
		{% include form-line.html formName="change_professor_password" inputID="confirm_password" inputType="password" placeholder="Confirm New Password" %}
	</ul>
</form>
{% include button.html function="changeProfessorPassword" id="change_professor_password" label="Change Password" %}
{% include alert-message.html id="change_professor_password" type="error" %}

<script>
	if (!loginManager.isStudent() && !loginManager.isProfessor()) {
		clearAlertPrinter("change_professor_password");

		const token = getURLParam('token');
		if (isNullOrEmpty(token)) {
			urlReplaceSafe("/"); // go there and don't let us come back
		}

		function setButtonsEnabled(enabled) {
			$("#button_change_professor_password").prop("disabled", !enabled);
		}

		function changeProfessorPassword() {
			if (passwordCommands.getIsProcessing()) return;

			const formName = "change_professor_password";

			const elements = document.getElementById(formName + "_form").elements;
			const email = elements[formName + "_email"].value;
			const password = elements[formName + "_password"].value;
			const confirm = elements[formName + "_confirm_password"].value;
			const printer = getAlertPrinter(formName);

			if (isNullOrEmpty(email) || isNullOrEmpty(password) || isNullOrEmpty(confirm)) {
				printer("All fields must be filled out!");
				return;
			}

			if (confirm !== password) {
				printer("Passwords do not match!");
				return;
			}

			printer("");

			const onComplete = function(msg) {
				setButtonsEnabled(true);
				printer(msg);
			}

			setButtonsEnabled(false);

			// ACTUALLY DO IT HERE
			passwordCommands.applyResetPassword("PROFESSOR", email, password, token, getPageRedirector("/signin"), onComplete);
		}
	}
</script>
