<div class="section-header">Change PIN</div>
<form id="change_student_password_form">
	<ul class="form-list">
		{% include form-line.html formName="change_student_password" inputID="email" inputType="email" placeholder="Email" %}
		{% include form-line.html formName="change_student_password" inputID="password" inputType="password" isPin="true" placeholder="New PIN (4 digits)" %}
		{% include form-line.html formName="change_student_password" inputID="confirm_password" inputType="password" isPin="true" placeholder="Confirm new PIN" %}
	</ul>
</form>
{% include button.html function="changeStudentPassword" id="change_student_password" label="Change PIN" %}
{% include alert-message.html id="change_student_password" type="error" %}

<script>
	if (!loginManager.isStudent() && !loginManager.isProfessor()) {
		clearAlertPrinter("change_student_password");

		const token = getURLParam('token');
		if (isNullOrEmpty(token)) {
			urlReplaceSafe("/"); // go there and don't let us come back
		}

		function setButtonsEnabled(enabled) {
			$("#button_change_student_password").prop("disabled", !enabled);
		}

		function changeStudentPassword() {
			if (studentCommands.getIsProcessing()) return;

			const formName = "change_student_password";

			const elements = document.getElementById(formName + "_form").elements;
			const email = elements[formName + "_email"].value;
			const password = elements[formName + "_password"].value;
			const confirm = elements[formName + "_confirm_password"].value;
			const printer = getAlertPrinter(formName);

			if (isNullOrEmpty(email) || isNullOrEmpty(password) || isNullOrEmpty(confirm)) {
				printer("All fields must be filled out!");
				return;
			}

			if (confirm !== password) {
				printer("PINs do not match!");
				return;
			}

			printer("");

			const onComplete = function(msg) {
				setButtonsEnabled(true);
				printer(msg);
			}

			setButtonsEnabled(false);

			// ACTUALLY DO IT HERE
			passwordCommands.applyResetPassword("STUDENT", email, password, token, getPageRedirector("/signin"), onComplete);
		}
	}
</script>
