<div class="section-header">Student and Professor Sign In</div>
<form id="login_form">
	<ul class="form-list">
		{% include form-line.html formName="login" inputID="key" inputType="email" placeholder="Professor Email or UC Davis Student ID"%}
		{% include form-line.html formName="login" inputID="password" inputType="password" placeholder="Password"%}
	</ul>
</form>
{% include button.html function="processLogin" id="login" label="Sign In" %}
{% include alert-message.html id="login" type="error" %}

<script>
	clearAlertPrinter("login");

	function processLogin() {
		if (profCommands.getIsProcessing()) return;
		if (studentCommands.getIsProcessing()) return;

		const formName = "login";

		const elements = document.getElementById(formName + "_form").elements;
		const accountKey = elements[formName + "_key"].value;
		const password = elements[formName + "_password"].value;
		const printer = getAlertPrinter(formName);

		if (isNullOrEmpty(accountKey) || isNullOrEmpty(password)) {
			printer("All fields must be filled out!");
			return;
		}

		const submitButton = $("#button_" + formName);
		printer("");

		const onComplete = function(msg) {
			submitButton.prop("disabled", false);
			printer(msg);
		}

		const accountID = parseInt(accountKey);
		if (!isNaN(accountID)) { // valid student ID
			submitButton.prop("disabled", true);

			studentCommands.login(accountID, password, getPageRedirector("/howtoplay"), onComplete);
		} else if (!elements[formName + "_key"].validity.typeMismatch) { // valid email
			submitButton.prop("disabled", true);

			profCommands.login(accountKey, password, getPageRedirector("/manageclasses"), onComplete);
		} else { // neither
			printer("Please enter a valid Student ID or email address!");
		}
	}
</script>
