<div class="section-header">Student and Professor Sign In</div>
<form id="login_form">
	<ul class="form-list">
		{% include form-line.html formName="login" inputID="email" inputType="email" placeholder="Email"%}
		{% include form-line.html formName="login" inputID="password" inputType="password" placeholder="Password or PIN"%}
	</ul>
</form>
{% include button.html function="processProfLogin" id="prof_login" label="Professor Sign In" %}
{% include button.html function="processStudentLogin" id="student_login" label="Student Sign In" %}
{% include alert-message.html id="login" type="error" %}

<a class="forgot-password-link" href="/requestpasswordreset" title="Forgot Password">
	Forgot password?
</a>

<script>
	if (!loginManager.isStudent() && !loginManager.isProfessor()) {
		clearAlertPrinter("login");

		function setButtonsEnabled(enabled) {
			$("#button_prof_login").prop("disabled", !enabled);
			$("#button_student_login").prop("disabled", !enabled);
		}

		function processStudentLogin() {
			if (studentCommands.getIsProcessing()) return;

			processLogin(true);
		}

		function processProfLogin() {
			if (profCommands.getIsProcessing()) return;

			processLogin(false);
		}

		function processLogin(isStudent) {
			const formName = "login";

			const elements = document.getElementById(formName + "_form").elements;
			const email = elements[formName + "_email"].value;
			const password = elements[formName + "_password"].value;
			const printer = getAlertPrinter(formName);

			if (isNullOrEmpty(email) || isNullOrEmpty(password)) {
				printer("All fields must be filled out!");
				return;
			}

			printer("");

			const onComplete = function(msg) {
				setButtonsEnabled(true);
				printer(msg);
			}

			setButtonsEnabled(false);
			if (isStudent) {
				studentCommands.login(email, password, getPageRedirector("/howtoplay"), onComplete);
			} else {
				profCommands.login(email, password, getPageRedirector("/manageclasses"), onComplete);
			}
		}
	}
</script>
