<div class="nav-bar">
	<ul class="nav-bar-general">
		<li>
			<a onclick="goToPageSafe('/')">Home</a>
		</li>
		<li>
			<a onclick="goToPageSafe('/#about')">About Us</a>
		</li>
		<li>
			<a onclick="goToPageSafe('/howtoplay')">How to Play</a>
		</li>
		<li>
			<a onclick="goToPageSafe('/')">Contact</a>
		</li>
	</ul>
	<ul class="nav-bar-accounts">
		<li class="logged_out">
			<a onclick="goToPageSafe('/studentsignup')">Student Sign Up</a>
		</li>
		<li class="logged_out">
			<a onclick="goToPageSafe('/professorsignup')">Professor Sign Up</a>
		</li>
		<li class="logged_out">
			<a onclick="goToPageSafe('/signin')">Sign In</a>
		</li>
		<li class="student_logged_in">
			<a onclick="goToPageSafe('/play')">Play</a>
		</li>
		<li class="prof_logged_in">
			<a onclick="goToPageSafe('/manageclasses')">Manage Classes</a>
		</li>
		<li class="logged_in">
			<a onclick="processLogout()">Log out</a>
		</li>
	</ul>
</div>

<script>
	function processLogout() {
		loginManager.logout(getPageRedirector("/"));
	}
</script>

<!-- <div class="gallery">
	{% for image in page.images %}
	<div class="image-with-caption">
		<img src="/assets/projects/{{ image.filename }}">  
		<p class="caption">{{image.caption}}</p>
	</div>
	{% endfor %}
</div> -->
