<div class="title-bar">
	<div class="logo">
		<a href="/" title="TRASS GAMES">Sliders: an experience</a>
	</div>
	<ul class="nav-bar">
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/#about">About Us</a>
		</li>
		<li>
			<a href="/howtoplay">How to Play</a>
		</li>
		<div class="logged_out">
			<li>
				<a href="/studentsignup">Student Sign Up</a>
			</li>
			<li>
				<a href="/professorsignup">Professor Sign Up</a>
			</li>
			<li>
				<a href="/signin">Sign In</a>
			</li>
		</div>
		<div class="student_logged_in">
			<li>
				<a href="/play">Play</a>
			</li>
		</div>
		<div class="prof_logged_in">
			<li>
				<a href="/manageclasses">Manage Classes</a>
			</li>
		</div>
		<div class="logged_in">
			<li>
				<a onclick="processLogout()">Log out</a>
			</li>
		</div>
		<!--<li>
			<a href="/#contact">Contact</a>
		</li>-->
	</ul>
</div>

<script>
	function processLogout() {
		loginManager.logout(loginRefresh);
	}
</script>

<!-- <div class="gallery">
	{% for image in page.images %}
	<div class="image-with-caption">
		<img src="/assets/projects/{{ image.filename }}">  
		<p class="caption">{{image.caption}}</p>
	</div>
	{% endfor %}
</div> -->
