<div class="title-bar">
	<div class="logo">
		<a onclick="goToPageSafe('/')" title="SLIDERS">Sliders: an experience</a>
	</div>
	<ul class="nav-bar">
		<li>
			<a onclick="goToPageSafe('/')">Home</a>
		</li>
		<li>
			<a onclick="goToPageSafe('/#about')">About Us</a>
		</li>
		<li>
			<a onclick="goToPageSafe('/howtoplay')">How to Play</a>
		</li>
		<div class="logged_out">
			<li>
				<a onclick="goToPageSafe('/studentsignup')">Student Sign Up</a>
			</li>
			<li>
				<a onclick="goToPageSafe('/professorsignup')">Professor Sign Up</a>
			</li>
			<li>
				<a onclick="goToPageSafe('/signin')">Sign In</a>
			</li>
		</div>
		<div class="student_logged_in">
			<li>
				<a onclick="goToPageSafe('/play')">Play</a>
			</li>
		</div>
		<div class="prof_logged_in">
			<li>
				<a onclick="goToPageSafe('/manageclasses')">Manage Classes</a>
			</li>
		</div>
		<div class="logged_in">
			<li>
				<a onclick="processLogout()">Log out</a>
			</li>
		</div>
		<!--<li>
			<a href="/#contact">Contact</a>
		</li>-->
	</ul>
</div>

<script>
	function processLogout() {
		loginManager.logout(getPageRedirector("/"));
	}
</script>

<!-- <div class="gallery">
	{% for image in page.images %}
	<div class="image-with-caption">
		<img src="/assets/projects/{{ image.filename }}">  
		<p class="caption">{{image.caption}}</p>
	</div>
	{% endfor %}
</div> -->
