<div class="class-element-container" onclick="goToPageSafe('/manageclass/?code=[code]')">
    <div class="class-element-title" >
        <h1>
            [name] ([code])
        </h1>
    </div>
    <div class="student-count">
        <h1 class="student-count-text">
            [studentCount]
        </h1>
        <img src="/assets/studentCountIcon.png">
    </div>
    <div class="class-status">
        <img class="status-icon" src="/assets/statusIcon-[status].png">
        <h1 class="status-message-[status]">
            [statusMessage]
        </h1>
    </div>
</div>
