---
---
<div class="section">
    <h2>We recommend copying the class invitation below and sending it to your students on Canvas or by email.</h2>
    {% capture my_include %}{% include intro_statement.md %}{% endcapture %}
    {% include text-snippet-box.html markdownText=my_include %}
    {% include button.html label="Copy Invitation" id="copy_invitation" function="copyInvitation" %}
    <h2>or</h2>
    <h2>If you wish to write your own statement, make sure it includes the join link found below.</h2>
    {% include text-snippet-box.html markdownText="[url_join_page]" %}
</div>
