<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;600&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
			<script src="https://sdk.amazonaws.com/js/aws-sdk-2.7.16.min.js"></script>
			<script src="/scripts/aws_credentials.js"></script>
			<script src="/scripts/sliders.js"></script>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
		</head>
		<body>
			<div class="container">
				{% include title-bar.html %}

			{{ content }}

			</div>
		</body>
	</html>
