<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
			<script src="https://sdk.amazonaws.com/js/aws-sdk-2.7.16.min.js"></script>
			<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
			<script src="/scripts/aws_credentials.js"></script>
			<script src="/scripts/helpers.js"></script>
			<script src="/scripts/aws_manager.js"></script>
			<script src="/scripts/prof_commands.js"></script>
			<script src="/scripts/student_commands.js"></script>
			<script src="/scripts/class_commands.js"></script>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">

			<script>
				function loginRefresh() {
					if (loginManager.isProfessor()) {
						$(".prof_logged_in").css("display", "");
						$(".student_logged_in").css("display", "none");
						$(".student_has_class").css("display", "none");

						$(".logged_out").css("display", "none");
						$(".logged_in").css("display", "");
					} else if (loginManager.isStudent()) {
						$(".prof_logged_in").css("display", "none");
						$(".student_logged_in").css("display", "");

						if (loginManager.hasProperty("ClassCode")) { // in a class
							$(".student_has_class").css("display", "");
						} else { // not in a class
							$(".student_has_class").css("display", "none");
						}

						$(".logged_out").css("display", "none");
						$(".logged_in").css("display", "");
					} else {
						$(".prof_logged_in").css("display", "none");
						$(".student_logged_in").css("display", "none");
						$(".student_has_class").css("display", "none");

						$(".logged_out").css("display", "");
						$(".logged_in").css("display", "none");
					}
				}

				document.addEventListener("DOMContentLoaded", function(event){
					loginRefresh();
				});
			</script>
		</head>
		<body>
			<div class="container">
				{% include title-bar.html %}

			{{ content }}

			</div>
		</body>
	</html>
